<div class="footer">
  <div class="container-fluid text-center">
  		<div class="row">
        <hr style="border-top: 0.6px solid #999; opacity: 0.7">
  			<div class="cr">
  				<p>Copyright &copy; 2018</p>
  			</div>
  	</div>
  </div>
</div>
