{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Login - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
  <div class="centered-vertical">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-5 padding-0">
              <div class="content-box">
                  <div class="login-text-intro">
                    <h3>Login first</h3>
                    <div class="reg">
                      <p>Don't have an account? <a href="/login/register/">Register</a> first!</p>
                    </div>
                  </div>

              </div>
            </div>
            <div class="col-sm-7 padding-0">
              <div class="login-form">
                <div class="form-content">
                  <div class="custom">
                    <form action="/">
                      <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </div>

                  <div class="reg-again text-center">
                    <hr class="style14">
                    <p>Don't have an account? <a href="/login/register/">Register</a> first!</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>


      </div>
    </div>

  </div>
</div>

{% endblock %}
