{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Register - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="title-div">
          <h3>Create an account</h3>
        </div>
        <div class="reg-form">
          <div class="form-content">
            <div class="custom">
              <form action="/">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="username">Username:</label>
                      <input type="text" class="form-control" id="username">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd">
                    </div>
                  </div>
                </div>
                <hr class="style14" style="opacity:0.4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="role">Role:</label>
                      <select class="form-control" id="role">
                        <option>Dosen</option>
                        <option>Mahasiswa</option>
                        <option>Staff</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="npm">Nomor Identitas (NPM, NIK):</label>
                      <input type="number" class="form-control" id="npm">
                    </div>
                  </div>
                </div>
                <hr class="style14" style="opacity:0.4">

                <div class="form-group">
                  <label for="name">Nama:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="handphone">No. Hp:</label>
                      <input type="text" class="form-control" id="handphone">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="tempat">Tempat Lahir:</label>
                      <input type="text" class="form-control" id="tempat">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="tanggal-lahir">Tanggal Lahir:</label>
                      <input type="date" class="form-control" id="tanggal-lahir">
                    </div>
                  </div>
                </div>


                <hr class="style14" style="opacity:0.4">

                <!--if mahasiswa-->
                <div class="form-group">
                  <label for="status">Status Kemahasiswaan:</label>
                  <select class="form-control" id="status">
                    <option>Aktif</option>
                    <option>Pasif</option>
                  </select>
                </div>
                <!--if dosen or staf-->
                <div class="form-group">
                  <label for="univ">ID Universitas:</label>
                  <select class="form-control" id="univ">
                    <option>Univ - 1</option>
                    <option>Univ - 2</option>
                    <option>Univ - 3</option>
                  </select>
                </div>
                <hr class="style14" style="opacity:0.1">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-block btn-lg btn-default">Submit</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
