.title-div {
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #f9f9f9;
  margin-top: 30px;
  height: 70px;
  padding: 8px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.reg-form {
  background: #f9f9f9;  /* fallback for old browsers */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #333;
  min-height: 350px;
  margin-bottom: 60px;
}
.news-box{
  background: #f9f9f9;  /* fallback for old browsers */
  color: #333;
  margin-left: 30px;
  margin-top: 20px;
  min-height: 20px;
}
.img-news{
  vertical-align: center;
}
.list-news {
  overflow: scroll;
}
#news-bar{
  border-left: 5px solid;
  border-left-color: #781E36;
}
.sizing {
  min-height:350px;
}
.pad{
  margin-bottom: -1px;
}
.mod-header{
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mod-body{
  color: #333;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}