html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ecf0f1;
  font-family: Raleway;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}
.all-content {
  padding: 70px 20px;
}
.navbar-nav li a {
  color: white !important;
  top: 2px;
  background: transparent;
  margin-bottom: 6px;
}
.navbar {
  background: #B1103C;  /* fallback for old browsers */
  -webkit-box-shadow: 0 12px 8px -8px #999;
  -moz-box-shadow: 0 12px 8px -8px #999;
  box-shadow: 0 12px 8px -8px #999;
  border-radius: none;
  border: none;
  padding: 0 12px;
}
.header {
  padding: 10px 10px;
}
.navbar-nav li a:hover {
  color: #ecf0f1 !important;
  background: none;
}
.navbar-nav .dropdown li.active a {
  color: default;
  background-color: default;
  border-bottom: none;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: transparent !important;
  border-bottom: 3px solid #ecf0f1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}
.navbar-toggle{
  background: transparent;
  border: none;
}
.navbar-toggle:focus, .navbar-toggle:hover{
  background: rgba(236, 240, 241, 0.1) !important;
}
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  color: #575C5D;
  padding-left: 100px;
  padding-right: 100px;
}
