{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Home - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
	<div class="container">
		<div class="temp">
			<div class="title-div">
				<div class="row">
					<div class="col-sm-9">
						<h3>Hot Topics</h3>
					</div>
	          		<div class="col-sm-3">
	          			<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Add News</button>
						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

							    <!-- Modal content-->
							    <div class="modal-content">
							    	<div class="modal-header mod-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Wazzup Lambe?</h4>
								    </div>
								    <div class="modal-body mod-body">
								    	<div class="form-group">
		                  					<label for="judul">Judul:</label>
		                  					<input type="text" class="form-control" id="judul">
		                					
								      	</div>
								      	
								      	<div class="form-group">
		                  					<label for="url">Url:</label>
		                  					<input type="url" class="form-control" id="url">
		                					
								      	</div>
								      	<div class="form-group">
		                  					<label for="name">Topik:</label>
		                  					<input type="text" class="form-control" id="name">
		                					
								      	</div>
								      	<div class="form-group">
		                  					<label for="name">Jumlah Kata:</label>
		                  					<input type="text" class="form-control" id="name">
		                					
								      	</div>
								      	<div class="form-group">
		                  					<label for="name">Tag:</label>
		                  					<input type="text" class="form-control" id="name">
		                				</div>
		                				<hr class="style14" style="opacity:0.1">
		                				<button type="submit" class="btn btn-block btn-lg btn-default">Submit</button>
								    </div>
								    <div class="modal-footer">
								    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								    </div>
								</div>
							</div>
						</div>
	          		</div>
	          	</div>
	        </div>
        	<div class="reg-form">
				<div class="row">
					<div class="col-sm-8">
						<a href="/news/detail/"><div class="panel panel-default news-box">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
									</div>
									<div class="col-sm-8">
										<h4><b>Asia news roundup: Xiaomi finally files for IPO, Amazon makes Flipkart offer, and more</b></h4>
										<h5><small> Posted on June 6 2018 </small></h5>
									</div>
								</div>
							</div>
						</div>
						</a>
						<div class="panel panel-default news-box">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
									</div>
									<div class="col-sm-8">
										<h4><b>[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</b></h4>
										<h5><small> Posted on June 6 2018 </small></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default news-box">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
									</div>
									<div class="col-sm-8">
										<h4><b>[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</b></h4>
										<h5><small> Posted on June 6 2018 </small></h5>
									</div>
								</div>
							</div>
						</div>
							<!--<div class="col-sm-6">
								<div class="news-box">
									<a href="/news/detail/"><div class="panel panel-default">
										<div class="panel-body">
											<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg height="180" width="300">
										</div>
										<div class="panel-footer">INSERT JUDUL BERITA</div>
									</div>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="news-box">
									<a href="#"><div class="panel panel-default">
										<div class="panel-body">
											<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg height="180" width="300">
										</div>
										<div class="panel-footer">INSERT JUDUL BERITA</div>
									</div>
									</a>
								</div>
							</div>
						</div>-->
					</div>
					<div id="news-bar" class="col-sm-4">
						<!--<div class="panel panel-default pad">
							<div class="panel-heading">All News</div>
							<div class="panel-body sizing">
								<div class="list-group">
									<a href="#" class="list-group-item">Asia news roundup: Xiaomi finally files for IPO, Amazon makes Flipkart offer, and more</a>
									<a href="#" class="list-group-item">[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</a>
									<a href="#" class="list-group-item">Third item</a>
								</div>
							</div>
						</div>-->
							<div class="news-title">
	                    		<h3 style="color: #575C5D"><b>All News</b></h3>
	                    	</div>
		                    <div class="list-news">
		                    	<div class="list-group">
		                    		<a href="#" class="list-group-item">Viral! Remaja ini mencetak skor dalam sejarah...</a>
			                        <a href="#" class="list-group-item">10 Gaya Memukai Kathy Indera, Pacar Baru Young Lex nih!</a>
			                        <a href="#" class="list-group-item">Tahu siapa penumpangnya, driver Gojek ini langsung pucat</a>
			                        <a href="#" class="list-group-item">Saat Jokowi Singgung Anies-Sandi soal Bus Listrik di Jakarta</a>
			                        <a href="#" class="list-group-item">Dua Animator Indonesia ikut Garap Avenger Infinity War</a>
		                    		<a href="#" class="list-group-item">10 Gaya Memukai Kathy Indera, Pacar Baru Young Lex nih!</a>
			                        <a href="#" class="list-group-item">Tahu siapa penumpangnya, driver Gojek ini langsung pucat</a>
			                        <a href="#" class="list-group-item">Saat Jokowi Singgung Anies-Sandi soal Bus Listrik di Jakarta</a>
			                        <a href="#" class="list-group-item">Dua Animator Indonesia ikut Garap Avenger Infinity War</a>
		                    	</div>
		                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
 <!-- <h1>This is news/home page</h1>
  <h2>{{news_page}}</h2>-->
</div>
{% endblock %}
