{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
News Detail - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_berita.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
	<div class="container">
		<div class="temp">
			<div class="title-div">
				<h3>Detail Berita</h3>
			</div>
			<div class="reg-form">
			</div>
		</div>
	</div>
</div>
{% endblock %}
