
{% load staticfiles %}
{% load static %}



{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

	table {
	    font-family: calibri, sans-serif;
	    border-collapse: collapse;
	    width: 80%;
	    vertical-align: center;

	    
	}
	
	th {
		background-color: #f5f5f5;
	}

	td , th{
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 10px;
	    vertical-align: center;

	}

	tr:hover {background-color: #f5f5f5;}

	/* CSS MODAL*/
	/* The Modal (background) */
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
	    background-color: #fefefe;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding: 20px;
	    border: 1px solid #888;
	    width: 80%; /* Could be more or less, depending on screen size */
	}

	/* The Close Button */
	.close {
	    color: #aaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: black;
	    text-decoration: none;
	    cursor: pointer;
	}

	

</style>

{% endblock %}



{% block content %}

<div class="all-content">

	<h2>List Polling Biasa</h2>
		<table>
		  	<tr>
		    	<th>Polling Type</th>
		    	<th>URL</th>
		  	</tr>

			</div>
			  <tr id ="myBtn">
			    <td >Polling Biasa</td>
			    <td>URL-1</td>
			  </tr>
			      <!-- The Modal -->
			  <div id="myModal" class="modal">

				  <!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">&times;</span>
				    <p>Some text in te Modal..</p>
				  </div>
				</div>

				  <tr>
				    <td>Polling Berita</td>
				    <td>URL-2</td>
				  </tr>
				  <tr>
				    <td>Polling Biasa</td>
				    <td>URL-3</td>
				  </tr>
			</table>






<script>
		// Get the modal
	var modal = document.getElementById('myModal');

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
</script>

</div>

{% endblock %}
