{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Polling - BMNC
{% endblock %}

{% block css %}
<style>
/* CSS UNTUK BUTTON CREATE */
.bg-box {
  background: #f9f9f9;  /* fallback for old browsers */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #333;
  padding: 10px 10px;
}
.button {
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.005s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button4 {
    background-color: #B1103C;
    color: white;
    border: 2px solid #F3A83C;
    border-radius: 50px;
}

.button4:hover {
background-color: #F3A83C;
color: white
border: 2px solid #B1103C;
}


/* CSS UNTUK Header di body yang kaya salvi */
.login-text-intro {
  padding: 20px;
}

.title-div {
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #f9f9f9;
  margin-top: 40px;
  min-height: 50px;
  padding: 10px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/* CSS UNTUK MODAL POLLING DETAIL GA PAKE W3 LAGI HAHA */
.mod-header{
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36);
  border-top-left-radius: 5px;

}

.mod-body{
  color: #333;
}

.modal {
  text-align: center;
}
.padding-content {
  padding: 20px 25px;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .panel-satunya {
    padding-top: 20px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

}
.link-berita {
  padding: 8px 3px;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    padding: 15px;
}

p {
	color: #667172;
	text-align: center;
}

.content-box {
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f9f9f9;
  min-height: 300px;
  border-radius: 10px;

}
.btn-back {
  color: #F3A83C;
  background: transparent;
  border: 2px solid #F3A83C;
  border-radius: 20px;
  width: 230px;
   transition: all 0.3s ease 0s;
}

.btn-submit {
  color: #781E36;
  background: #f9f9f9;
  border: 2px solid #781E36;
  border-radius: 5px;
}
.judul {
  padding: 5px 30px;
}
.btn-submit:hover {
  background: #781E36;
  opacity: 0.9;
  color: white;
}
.responden {
  border-bottom: 3px solid #F3A83C;
}
.tanggal {
  padding-bottom: 10px;
}
.pilihan {
  padding: 5px 30px;
}
.button-submit {
  padding: 10px 3px;
}
</style>
{% endblock %}


{% block content %}

<div class="all-content">
  <div class="container">
    <div class="row">
        <div class="title-div">
        	<div class="row">
        		<div class="col-sm-6 text-left">
        			 <h3>Show Polling</h3>
        		</div>
        		<div class="col-sm-6 text-right">
        			 <button class="button button4" data-toggle="modal" data-target="#news-polling"><span>Create News-Polling</span></button>
         			 <button class="button button4" data-toggle="modal" data-target="#polling" ><span>Create Polling</span></button>
        		</div>
        	</div>
        </div>
        <div class="bg-box">
          <div class="row" style="padding: 30px 3px">
            <div class="col-sm-12">
              <div class="row">
                <div class="panel-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <div class="panel panel-danger">
                      <div class="panel-heading">List News-Polling</div>
                      <div class="panel-body">
                        <a href="#news-poll" class="list-group-item" data-toggle="modal" data-target="#detail-poll">Mobil Impian Era 1990-an, Mana Pilihan Anda?</a>
                        <a href="#" class="list-group-item">Siapa Pemenang Final Piala Presiden 2018: Persija Jakarta atau Bali United?</a>
                        <a href="#" class="list-group-item">On average, how helpful are our customer service representatives?</a>
                        <a href="#" class="list-group-item">Pilih Motor Listrik Roda Tiga atau Skutik Bongsor?</a>
                        <a href="#" class="list-group-item">Crossover Idaman, Honda HR-V, Nissan Juke, atau Toyota C-HR?</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 ">
                    <div class="panel panel-danger ">
                      <div class="panel-heading panel-satunya">List Polling</div>
                      <div class="panel-body">
                        <a href="#" class="list-group-item">How likely would you be to enroll in CookieDirect?</a>
      						      <a href="#" class="list-group-item">On average, how helpful are our customer service representatives?</a>
      						      <a href="#" class="list-group-item">Mobil Impian Era 1990-an, Mana Pilihan Anda?</a>
      						      <a href="#" class="list-group-item">Siapakah Calon Gubernur Jawa Barat Favorite Anda?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="news-polling" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create News Polling</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHIoDcV8hm2L7rB0AQzesX_VpKzxScSVImnhTa7fhFj6HIv9r27w" style="width:120px" class="img-circle">
          </div>
          <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="URL">URL Berita:</label>
                  <select class="form-control" id="URL">
                    <option>http://bmnc-news.com/berita/1</option>
                    <option>http://bmnc-news.com/berita/2</option>
                    <option>http://bmnc-news.com/berita/3</option>
                  </select>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="startdate">Start Date:</label>
                      <input type="datetime-local" class="form-control" id="startdate">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="enddate">End Date:</label>
                      <input type="datetime-local" class="form-control" id="enddate">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="question">Poll Question:</label>
                  <input type="text" class="form-control" id="question">
                </div>
                <div class="form-group">
                  <label for="ans">Answers:</label>
                  <p style="text-align:left"><small>You can input answers up to 5 answers. But leave it empty for least than 5 answers.</small></p>
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-default btn-warning">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal untuk polling biasa -->
  <div id="polling" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Polling</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHIoDcV8hm2L7rB0AQzesX_VpKzxScSVImnhTa7fhFj6HIv9r27w" style="width:120px" class="img-circle">
          </div>
          <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="desc">Description:</label>
                  <textarea class="form-control" rows="5" id="desc"></textarea>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="startdate">Start Date:</label>
                      <input type="datetime-local" class="form-control" id="startdate">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="enddate">End Date:</label>
                      <input type="datetime-local" class="form-control" id="enddate">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="question">Poll Question:</label>
                  <input type="text" class="form-control" id="question">
                </div>
                <div class="form-group">
                  <label for="ans">Answers:</label>
                  <p style="text-align:left"><small>You can input answers up to 5 answers. But leave it empty for least than 5 answers.</small></p>
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                  <input type="text" class="form-control" id="ans" style="margin: 5px 0">
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-default btn-warning">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div id="detail-poll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="title-div">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Polling Detail</h4>
      </div>
      <div class="bg-box">
        <div class="padding-content">
          <div class="row">
            <div class="col-sm-8">
              <!--image-->
              <img src="https://preview.ibb.co/jUTtgc/pexels_photo_257840.jpg" style="width: 100%; object-fit:cover">
              <!--link berita-->
              <div class="link-berita">
                <button type="button btn-sm" class="btn-warning pull-center center-block" style="border-radius: 40px; font-size : 11px; padding : 3px">https://www.bmnc-news/berita-mobil/resmi-mei-harga-mitsubishi-xpander-naik-rp-3-juta</button>
              </div>
              <!--responden-->
              <div class="responden text-center">
                <h2>172</h2>
                <h3 style="padding-bottom:10px">respondens</h3>
              </div>
              <!--respon-->
              <div class="row" style="padding: 10px 10px">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Answers</th>
                      <th>Respons</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Honda Civic Estillo</td>
                      <td>29</td>
                    </tr>
                    <tr>
                      <td>BMW 318I M40</td>
                      <td>52</td>
                    </tr>
                    <tr>
                      <td>Toyota Great Corolla</td>
                      <td>37</td>
                    </tr>
                    <tr>
                      <td>Mitsubishi Lancer GTi</td>
                      <td>54</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-4">
              <!--date-->
              <div class="tanggal">
                <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 2th 2018 08.00 AM</button>
                <br>
        				<span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">April, 30th 2018 23.55 AM</button>
              </div>
              <!--pertanyaan-->
              <div style="padding-top: 25px">
                <div class="content-box">
                  <div class="judul">
                    <h4><b>Mobil Impian Era 1990-an, Mana Pilihan Anda?</b></h4>
                  </div>
                  <div class="pilihan">
                    <div class="radio">
                      <label><input type="radio" name="optradio">Honda Civic Estillo</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">BMW 318I M40</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Toyota Great Corolla</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Mitsubishi Lancer GTi</label>
                    </div>
                    <div class="button-submit">
                      <button class="btn btn-block btn-submit">Submit</button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
